body {
    background: rgb(127, 143, 207);
    background: linear-gradient(341deg, rgba(127, 143, 207, 1) 0%, rgba(51, 53, 156, 1) 40%, rgba(27, 72, 190, 1) 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rowdies', cursive;
}

.game {
    /* display: none; */

}

.content {
    padding: 50px;
}

.question {
    font-size: 40px;
    text-shadow: 0 0 4px #fff;
}

.answer {
    font-size: 26px;
    margin-bottom: 20px;
    color: #111111;
}


.container {
    width: 800px;
    height: 500px;
    background: rgb(127, 200, 207);
    background: linear-gradient(341deg, rgba(127, 200, 207, 1) 0%, rgba(51, 154, 156, 1) 40%, rgba(27, 175, 190, 1) 92%);
    position: relative;
    border-radius: 10px;
}

.submit {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}

.results {
    display: none;
    padding: 30px;
    text-align: center;
}

.results {
    font-size: 40px;
}

.correct {
    color: green;
    text-shadow: 0 0 5px #000;
}

.wrong {
    color: rgb(233, 121, 121);
    text-shadow: 0 0 10px #000;
}

.score {
    text-shadow: 0 0 10px #fff;
}

.play {
    color: #111111;
    background: rgb(207, 218, 102);
    background: linear-gradient(341deg, rgba(207, 218, 102, 1) 0%, rgba(230, 224, 18, 1) 40%, rgba(161, 164, 19, 1) 92%);
    font-family: 'Rowdies', cursive;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}